<!-- Services Section -->
    <section id="events">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Upcoming Events</h2>
                  <h3 class="section-subheading text-muted less-margin">
                    Subscribe to our <a href="https://www.mynewsletterbuilder.com/tools/subscription.php?username=hopicecreamcafe&newsletter_id=1412240137">newsletter</a> to keep up with events at the Hop.
                  </h3>
              </div>
          </div>
          <div class="row text-center">
            <iframe src="http://www.fanrx.com/facebook/events.php?theme=zuck&page=thehopicecreamcafe&bgcolor=ffffff&textcolor=000000&linkcolor=555555&max=5" width="320" height="520" frameborder="no" scrolling="auto"></iframe>
          </div>
        </div>
    </section>
