  <footer>
        <div class="container">
            <div class="row text-center">
              <p class="text-muted">
              Click <a href="">here</a> to download an Employee Application.
              </p>
            </div>
            <div class="row">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
    </footer>
<!--
  <footer>
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="http://micahmack.com/">Photos by Micah Mackenzie</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>Employee Application <a href="assets/application.pdf">here</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
-->
