<!-- Services Section -->
    <section id="parties">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Parties</h2>
                    <h3 class="section-subheading text-muted">
                      Special Occasion Ice Cream Related Celebrations!
                    </h3>
                </div>
            </div>
            <div class="row text-center">
               <div class="col-sm-4">
                    <div class="location">
                        <a href="http://my-site-100004-108923.square.site/" target="_blank"><img src="img/cake250.jpg" class="img-responsive img-circle" alt="ice cream cakes"></a>
                        <h4 class="service-heading">Ice Cream Cakes</h4>
                        <p class="text-muted">
                            The Hop has size and decoration options for varying budgets and ages. Perfect for the special people in your life, <b>Baby Showers</b>, <b>Graduation Celebrations</b> or any <b>Private Gathering</b>. For ordering visit our <a href="http://my-site-100004-108923.square.site/" target="_blank">Online Store</a> or <a href="mailto:hopicecreamcafe@yahoo.com">contact Ashley Garrison</a>
                        </p>
                    </div>
                </div>
                 <div class="col-sm-4">
                    <div class="location">
                        <img src="img/Wedding-cake.jpg" class="img-responsive img-circle" alt="the hop catering">
                        <h4 class="service-heading">Weddings</h4>
                        <p class="text-muted">
                            Elegant custom <b>Ice Cream Cakes</b>, fun and exciting <b>Sundae Bars</b> or hand-crafted <b>Scoops</b> of your favorite flavors - all perfect for <strong>Weddings</strong>, <b>Rehersal Dinners</b> and <b>Welcome Parties</b>. To set up an appointment <a href="mailto:hopicecreamcafe@yahoo.com">contact Ashley Garrison</a>. 
                        </p> 
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="location">
                        <a href="#menuSpecialty-ice-cream-cakes" data-toggle="modal"><img src="img/Events.jpg" class="img-responsive img-circle" alt="the hop ice cream cakes"></a>
                        <h4 class="service-heading">Events and Catering</h4>
                        <p class="text-muted">
                            Due to COVID we have hit pause on the in-person catering/events. But we can drop off a freezer with pre-packaged dairy and vegan Ice Cream for what you might have going on! For details or questions <a href="mailto:hopicecreamcafe@yahoo.com">contact Ashley Garrison</a>.
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
