<!-- About Section -->
    <section id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome</h2>
                    <p class="large text-muted">
                      The hop is awesome.  The are written up by the Huffington Post.  They have cool events.  It's owned by two wondeful, local people. Subscribe to our newsletter to see what's happening at all three Hop locations.
                    </p>
                    <p class="large text-muted">
                      The hop is awesome.  The are written up by the Huffington Post.  They have cool events.  It's owned by two wondeful, local people. Subscribe to our newsletter to see what's happening at all three Hop locations.
                    </p>
                </div>
            </div>
        </div>
    </section>
