<!-- About Section -->
  <section id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <h4 class="service-heading">About</h4>
                    <p class="text-muted">
                    Owned and operated by real life people with hopes and dreams.
                    Owned and operated by real life people with hopes and dreams.
                    Owned and operated by real life people with hopes and dreams.
                    Owned and operated by real life people with hopes and dreams.
                    Owned and operated by real life people with hopes and dreams.
                    Owned and operated by real life people with hopes and dreams.
                    Owned and operated by real life people with hopes and dreams.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <h4 class="service-heading">Family-Owned</h4>
                  <img src="img/greg-ash-finn.jpg" class="img-responsive img-centered"/>
                </div>
                <div class="col-md-4 text-center">
                    <h4 class="service-heading">Press</h4>
                    <div><a href="">Press link 1</a></div>
                    <div><a href="">Another Press link</a></div>
                    <div><a href="">More Press</a></div>
                </div>
            </div>
        </div>
  </section>
