<!-- About Section -->
  <section id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <h4 class="service-heading">About</h4>
                    <p class="text-muted">
                    <b>The Hop Ice Cream Cafe</b> <a href="http://askasheville.com/asheville-news/hop-ice-cream-shop-past-present-future-asheville" target="_blank">has been proudly serving Asheville, NC since 1978</a> with premium quality homemade <b>Dairy &amp; Vegan Ice Cream and Sorbet</b>, Fair trade Coffee and Espresso, unique specialty desserts and more. In addition we host a variety of Birthday Parties, <b>Free Family Friendly Entertainment</b>, and special events at each of our three Asheville locations.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <h4 class="service-heading">Asheville Grown and Unchained</h4>
                    <img src="img/greg-ash-finn.jpg" class="img-responsive img-centered" alt="Ashley and Greg Garrison"/>
                    <p class="text-muted">
                      Owners Ashley and Greg Garrison.<br>
                      Photos by <a href="http://micahmack.com/blog" target="_blank">Micah Mackenzie</a>.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <h4 class="service-heading">Press</h4>
                    <p class="text-muted">
                    Named by <b>Huffington Post and Domino Magazine</b> as one of the <a href="http://www.huffingtonpost.com/domino/12-best-ice-cream-shops-i_b_5588504.html" target="_blank">12 Best Ice Cream Shops in America</a>. Featured on the <b>Cooking Channel</b> show <b>Unique Sweets</b> about <a href="http://www.cookingchanneltv.com/shows/unique-sweets/500/awesome-asheville-sweets.html" target="_blank">Awesome Asheville Sweets</a> (video coming soon). <b>Blueberry Kale</b> Ice Cream made <b>Saveur Magazine</b>’s <a href="http://www.saveur.com/article/food/5-great-american-ice-creams" target="_blank">5 Great American Ice Creams</a> and was North Carolina’s featured flavor in <a href="http://www.amazon.com/Scoop-Adventures-Recipes-Greatest-Parlors/dp/1624140343">“Scoop Adventures: The Best Ice Cream of the 50 States”</a>, by <a href="http://www.scoopadventures.com/">Lindsay Clendaniel</a>.

                    </p>
                    <h4 class="service-heading">Events</h4>
                    <p class="text-muted">
                    To learn more about Special Events one may <a href="https://www.mynewsletterbuilder.com/tools/subscription.php?username=hopicecreamcafe&newsletter_id=1412240137" target="_blank">subscribe to our Newsletter</a>
                    </p>
              </div>
            </div>
        </div>
  </section>
