<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
	.googleCalendar{
	  position: relative;
	  height: 0;
	  width: 100%;
	  padding-bottom: 50%;
	}

	.googleCalendar iframe{
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
	</style>
</head>
<body>

<div class="container">
  <h2>Hop Party Reservation Form</h2>

	<hr/>

	<div>
		<p>
			Check our parties packages below, then view the calendar for availability.  Fill out the form to request a party booking and a Hop employee wil get back to you in 24-48 hours.
			Parties are booked between 11am-7pm Monday - Sunday based on availability and approval. Party time slots are in two hour increments, with one hour minimum between booked parties. 
		</p>

		<hr/>

  	<h3>Package 1</h2>
		<p>
		  Reserved space for 2 hours, Decorations (streamers, balloons, tablecloths). May bring outside food and drink (no alcohol or outside ice cream). Deposit due within 3 days of booking to reserve space. Package does not include ice cream, but can reserve bulk ice cream or it is available for purchase by the item the day of.
North $50 Creamery $75
		</p>

  	<h3>Package 2</h2>
		<p>
	Reserved space for 2 hours, Decorations (streamers, balloons, tablecloths), Build-your-own sundae bar OR any size ice cream cake (price varies). May bring outside food and drink (no alcohol or outside ice cream). Deposit due within 3 days of booking to reserve space.
North $50 + $4.50 per person for sundaes Creamery $75 + $4.50 per person for sundaes. Cake priced at retail cost
		</p>
  	<h3>Package 3</h2>
		<p>
			Reserved space for 2 hours, Decorations (streamers, balloons, tablecloths), Build-your-own sundae bar OR an 8” ice cream cake (larger cake for extra cost), Balloon artist for 1 hour, Face painting by staff host.. Pricing is for up to 10 children, $4.50 for each additional child. May bring outside food and drink (no alcohol or outside ice cream). Deposit due within 3 days of booking to reserve space.
			North $205 Creamery $230
		</p>
	</div>

	<hr/>

	<div class="googleCalendar">
		<iframe src="https://calendar.google.com/calendar/embed?src=en.usa%23holiday%40group.v.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>

	<hr/>

  <form method="POST" action="https://formspree.io/ryanbarrington@gmail.com">
    <div class="form-group">
      <label for="">Your Name</label>
      <input type="name" class="form-control" id="name" placeholder="Your name" name="name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="">Phone Number</label>
      <input type="phone-number" class="form-control" id="phone-number" placeholder="Enter phone number" name="phone-number">
    </div>
    <div class="form-group">
      <label for="">Date of Party</label>
      <input type="childs-name-age" class="form-control" id="childs-name-age" placeholder="Enter date" name="childs-name-age">
    </div>
    <div class="form-group">
      <label for="">Time of Party</label>
      <input type="childs-name-age" class="form-control" id="childs-name-age" placeholder="Enter two-hour block of time 11am-7pm" name="childs-name-age">
    </div>
		<div class="form-group">
			<label for="party-package">Party Package Requested (select one)</label>
			<select class="form-control" id="party-package">
				<option>Package 1</option>
				<option>Package 2</option>
				<option>Package 3</option>
			</select>
		</div>
 		<div class="form-group">
			<label for="location">Location Preferred</label>
			<select class="form-control" id="location">
				<option>The Hop Ice Creamery</option>
				<option>iThe Hop on Merrimon Ave.</option>
			</select>
		</div>
   <div class="form-group">
      <label for="">Child's Name & Age</label>
      <input type="childs-name-age" class="form-control" id="childs-name-age" placeholder="Enter child's name and age" name="childs-name-age">
    </div>
    <div class="form-group">
      <label for="">Number of Guests Expected</label>
      <input type="number-guests" class="form-control" id="number-guests" placeholder="Enter number of guests expected" name="number-guests">
    </div>
    <div class="form-group">
      <label for="special-requests">Special Requests? (colors or dietary restrictions)</label>
      <textarea type="special-requests" class="form-control" id="special-requests" placeholder="Enter special requests" name="special-requests">
      </textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

	<hr/>

</div>
      

</body>
</html>
